<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <label>Sms Provider</label>
      <form *ngIf="registerForm" [formGroup]="registerForm">
        <div *ngFor="let field of fields">
          <label>{{field.DisplayName}}</label>
          <input *ngIf="field.PropertyType == 'string'" pInputText class="form-control" [type]="field.PropertyType"
            [formControlName]="field.PropertyName" />
          <textarea *ngIf="field.PropertyType == 'textarea'" pInputText class="form-control"
            [formControlName]="field.PropertyName" rows="5"></textarea>
        </div>
      </form>
    </div>
  </div>
</div>
